@import "tailwindcss";

@layer theme, base, components, utilities;

@theme {
  /* Light Mode Theme */
  --color-primary: #1E40AF;
  --color-secondary: #10B981;
  --color-background: #FFFFFF;

    --color-primary-dark: #93C5FD;
    --color-secondary-dark: #6EE7B7;
    --color-background-dark: #1F2937;
}
@custom-variant dark (&:where(.dark, .dark *));